<a href="https://colab.research.google.com/github/kr1k-boop/mini-project-ST-/blob/main/cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#date of release, duration, artists, explicit, popularity

In [ ]:
df = pd.read_csv('data.csv', low_memory=False)

In [ ]:
df.describe()

        acousticness   danceability  ...        valence           year
count  169909.000000  169909.000000  ...  169909.000000  169909.000000
mean        0.493214       0.538150  ...       0.532095    1977.223231
std         0.376627       0.175346  ...       0.262408      25.593168
min         0.000000       0.000000  ...       0.000000    1921.000000
25%         0.094500       0.417000  ...       0.322000    1957.000000
50%         0.492000       0.548000  ...       0.544000    1978.000000
75%         0.888000       0.667000  ...       0.749000    1999.000000
max         0.996000       0.988000  ...       1.000000    2020.000000

[8 rows x 15 columns]

In [ ]:
df.head()

In [ ]:
x_array = np.array([df['tempo'],df['loudness']])
print(x_array)

[[118.469  83.972 107.177 ... 123.7   129.916  80.588]
 [-12.428 -28.454 -19.924 ...  -9.332  -2.557  -7.387]]

In [ ]:
from sklearn.preprocessing import normalize
normalized_X = normalize(x_array)
print(normalized_X)

[[ 0.00237689  0.00168476  0.00215033 ...  0.00248184  0.00260655
   0.00161687]
 [-0.00237327 -0.00543362 -0.00380472 ... -0.00178205 -0.00048829
  -0.00141063]]

In [ ]:
df = df.drop(['tempo','release_date','popularity','artists','explicit','duration_ms'],axis=1)

In [ ]:
df.head()

   acousticness  danceability  energy  ... speechiness  valence  year
0         0.995         0.708  0.1950  ...      0.0506   0.7790  1928
1         0.994         0.379  0.0135  ...      0.0462   0.0767  1928
2         0.604         0.749  0.2200  ...      0.9290   0.8800  1928
3         0.995         0.781  0.1300  ...      0.0926   0.7200  1928
4         0.990         0.210  0.2040  ...      0.0424   0.0693  1928

[5 rows x 13 columns]

In [ ]:
df.insert(13,'n_tempo',normalized_X[0])

In [ ]:
df.insert(14,'n_loudness',normalized_X[1])

In [ ]:
df = df.drop(['loudness'], axis = 1)

In [ ]:
df.head()

   acousticness  danceability  energy  ...  year   n_tempo  n_loudness
0         0.995         0.708  0.1950  ...  1928  0.002377   -0.002373
1         0.994         0.379  0.0135  ...  1928  0.001685   -0.005434
2         0.604         0.749  0.2200  ...  1928  0.002150   -0.003805
3         0.995         0.781  0.1300  ...  1928  0.002167   -0.002814
4         0.990         0.210  0.2040  ...  1928  0.001247   -0.003214

[5 rows x 14 columns]